{% capture designs %}{{page.collection}}{% endcapture %}

{% if page.collection %}
  {% assign  document = site[designs] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<span class="page-title">
  {{ page.title }}
  <small>(edit this page on <a href="https://github.com/France-ioi/algorea-designs/edit/master/{{ page.path }}">GitHub</a>)</small>
</span><br>
{% if prevurl %}<a href="{{ site.baseurl }}{{prevurl}}" class="prev stepNav"><< {{prevtitle}}</a>{% endif %} |
{% if nexturl %}<a href="{{ site.baseurl }}{{nexturl}}" class="nxt stepNav">{{nexttitle}} >></a>{% endif %}

<script>
document.body.onkeyup = function(e){
  var prevurl = '{{prevurl}}';
  var nexturl = '{{nexturl}}';
if (prevurl.length && e.ctrlKey && e.keyCode == '37') { window.location = '{{ site.baseurl }}{{prevurl}}'; }
if (nexturl.length && e.ctrlKey && e.keyCode == '39') { window.location = '{{ site.baseurl }}{{nexturl}}'; }
};
</script>
