---
---
@import "{{ site.theme }}";
$text-color: #333;
$text-color-light: #fff;
$accent-color: #e86d8f;
$accent-color-dark-bg: #e8df6d;
$background-color-medium: #efefef;
$background-color-light: #fff;
$background-color-dark: #000;

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}
h1 {
  font-size: 1rem;
}

.cols {
  display: flex;
  .half {
    flex: 0 0 50%;
  }
  .one-third {
    flex: 0 0 33%;
  }
  .two-thirds {
    flex: 0 0 67%;
  }
}
.content-wrapper {
  display: flex;
}
.main-content {
  max-width: none;
  padding: 0;
  display: flex;
  font-size: 1rem;
  flex: 1 1 auto;
  h2 {
    font-size: 1rem;
    font-weight: normal;
    color: $text-color;
  }
  h3 {
    color: $text-color;
    margin: 5px 0;
    font-size: 0.875rem;
  }
}
.comments {
  padding: 2rem;
  flex: 1 1 auto;
}
@media screen and (min-width: 100rem) {
  .main-content {
    flex: 1 1 0;
    // margin-right: 350px;
  }
  .comments {
    //padding: 2rem;
    //flex: 0 0 350px;
    //max-height: 100%;
    //overflow: auto;
    //width: 350px;
  }
}
.sidebar {
  padding: 10px;
  color: $text-color;
  background: $background-color-medium;
  border-bottom: 2px solid $accent-color;
  font-size: 12px;
  background-color: $text-color;
  flex: 0 0 220px;
  padding: 0;
  .header {
    background-color: #4a90e2;
    padding: 10px;
  }
    a {
      color: $text-color-light;
    }
  .brand-name {
    font-size: 1rem;
    margin: 0;
    display: block;
  }
  .project-name {
    margin: 0;
    font-size: 0.875rem;
    order: 2;
    color: $text-color-light;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }
  .navigation {
    padding: 1em 1.5em;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      ul {
        padding-left: 1em;
        &.closed {
          display: none;
        }
      }
      .menu-title {
        text-transform: uppercase;
        font-weight: bold;
        color: #6de2e8;
        position: relative;
        cursor: pointer;
        &::after{
            content: '-';
            border-radius: 50%;
            width: 1em;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            line-height: 1em;
            top: 2px;
            left: -16px;
            font-weight: bold;
            color: #fff;
        }
        &.closed::after {
          content: '+';
        }
      }
      a {
        display: inline-block;
        line-height: 1;
        padding: 3px 0;
        color: #fff;
        &.active {
          color: $accent-color-dark-bg;
        }
      }
    }
  }
}
.stepNav {
  font-size: 10px;
  &.prev {
    padding-right: 2em;
  }
  &.nxt {
    padding-left: 2em;
  }
}
.page-content {
  flex: 1 1 auto;
  .interfacePreview {
    order: 2;
    padding: 1rem;
    h2 {
      color: $text-color-light;
    }
    background-color: $background-color-dark;
    img {
      max-width: 100%;
    }
  }
  .interfaceDescription {
    padding: 1rem;
    font-size: 0.875rem;
    .ref {
      font-family: monospace;
      color: $accent-color;
    }
    .design-heading {
      text-align: center;
    }
  }
}
.home {
  padding: 2em;
  .cols > * {
    padding: 0 10px;
  }
  h2 {
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 1px solid;
  }
  .scenarii ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
.color-thread {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}
.site-footer {
  margin-top: 0;
  padding: 3px;
  font-size: 0.75rem;
  background-color: $background-color-medium;
}