---
layout: default
---
<div class="main-content">
  <div class="navigation"></div>
  <div class="page-content cols">
    {% if page.image %}
    <div class="interfacePreview two-thirds">
      <img src="{{ site.baseurl }}/img/{{ page.image }}" />
    </div>
    {% endif %}
    <div class="interfaceDescription one-third">
      <h3 class="ref">{{ page.ref }}</h3>
      {{ content }}
    </div>
  </div>
</div>
<div class="comments">
  {% include disqus.html %}
</div>
{% include menu.html component=".navigation" %}