---
layout: default
---

<div class="navigation">
  <ul>
    {% for node in site.designs %}
      {% if page.url == node.url %}
        <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
      {% else %}
        <li><a href="{{node.url}}">{{node.title}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="page-content">
  <div class="cols half">
    {% if page.image %}
    <div class="interfacePreview">
      <img src="{{ site.url }}/img/{{ page.image }}" />
    </div>
  {% endif %}
    <div class="interfaceDescription">
      <h3 class="ref">{{ page.ref }}</h3>
      {{ content }}
    </div>
  </div>
</div>
<div class="comments">
  {% include disqus.html %}
</div>
